<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Readmes</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <!-- Add the reveal and hide buttons -->
  <div class="button-container">
    <button onclick="revealAll()">Reveal All</button>
    <button onclick="hideAll()">Hide All</button>
  </div>

  <% readmes.forEach((readme) => { %>
    <h2 onclick="toggleReadmeContent(this)" class="<%= (readme.content.trim() === 'Not Found' || readme.content.trim() === '') ? 'branch-notfound' : '' %>">
      <span class="arrow arrow-closed"></span>
      <%= readme.branch %>
    </h2>
    <div class="readme-content" style="display: none;"><%- readme.content %></div>
  <% }); %>
  <script src="/scripts.js"></script>
</body>
</html>
