<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Readmes</title>
</head>
<body>
  <% readmes.forEach((readme) => { %>
    <h2><%= readme.branch %></h2>
    <div><%- readme.content %></div>
  <% }); %>
</body>
</html>
