<%- include('header.ejs') %>
<h1>Statistics</h1>
<div>
  <h2>Commit Frequency</h2>
  <canvas id="commitFrequencyChart"></canvas>
</div>
<script type="application/json" id="commitFrequencyChartData">
  <%- JSON.stringify(commitGroups) %>
</script>
<script src="/statistics.js"></script>
<%- include('footer.ejs') %>